header{
    margin-bottom: 25px;
}

.tableBorder{
    margin: 0 auto;
    width: 95%; 
    border: 2px solid black;
    margin-bottom: 25px;
}

.formAdd{
    border: 1px solid black;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 70%;
    display: block;
}

.addLabel{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.addLabelcls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.d-flex{}

.formSearch{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.formDataContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formDataContainer input{
    margin-bottom: 7px;
    margin-left: 25px;
    width:90%;
}
.formDataContainer select{
    margin-bottom: 5px;
    margin-left: 25px;
    width: 20%;
}

.formDataContainer label{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 80%;
}

.formDataContainer button{
    width: 50%;
}

.buttonAdd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.phpError{
    margin-top: 5px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.phpError p{
    margin: 0 auto;
    color: red;
    margin-bottom: 5px;
}

.container-fluid{
    justify-content: flex-end !important;
}

